body {
    font-family: "effra", sans-serif;
    font-weight: 300;
    margin: 0px;
    min-width: 1024px;
}

#top_bar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    min-width: 350px;
    /*
        Below Chrome and Firefox minimum width.
    */
    height: 35px;
    background-color: rgba(76, 76, 76, 0.65);
    z-index: 1;
}

.nav_side {
    height: 35px;
    padding-top: 6px;
    font-size: 14pt;
    color: rgb(180, 180, 180);
    letter-spacing: 1px;
}

#top_left {
    background-image: url("../assets/logo_white.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    height: 27px;
    width: 27px;
    margin-top: 4px;
    margin-left: 5px;
}

#top_right {
    float: right;
}

.clear {
    clear: both;
}

#engineer_filter {
    margin-left: 15px;
}

#resume_pop {
    cursor: pointer;
}

#contact_pop {
    margin-right: 15px;
    cursor: pointer;
}

.slash {
    margin-left: 3px;
    margin-right: 3px;
    color: rgb(180, 180, 180);
}

#top_center {
    background-image: url("../assets/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 1024px;
    padding-top: 26.29%;
    /*
    http://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size
    */
}

.tc_part {
    float: left;
    width: 33%;
    height: inherit;
}

#tc_left {
    
}

#tc_mid {
    background-image: url("../assets/francis_profile.png");
    width: 34%;
}

#tc_right {
    background-color: rgb(240, 240, 240)
}

#tcl_name {
    margin-top: 100px;
    margin-left: 8%;
    font-size: 36pt;
    color: white;
}

#tcl_ea {
    margin-top: 10px;
    margin-left: 22%;
    font-size: 24pt;
    font-style: italic;
    color: white;
}

#tcr_text {
    width: 70%;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
    font-size: 14pt;
    font-weight: 300;
    line-height: 150%;
    text-align: justify;
    text-justify: inter-word;
    color: rgb(60, 60, 60);
}